{% load l10n i18n cosinnus_tags %}

{% if subscription and subscription.state == 1 %}
	{% comment %} Case for a still running, canceled subscription {% endcomment %}
	<h2>{% trans "Your monthly Contributions will end soon!" context "(PF30)" %}</h2>
	<p>
		{% trans "Your pre-paid contribution is valid until" context "(PF31)" %}
		{{ subscription.next_due_date|localize }}
	</p>
	<p>
		{% trans "We're sorry to see you go! To continue contributing, you can create a new Contribution right now." context "(PF32)" %} 
	</p>
	<p>
		{% blocktrans with date=subscription.get_due_date_after_next|localize context "(PF33)" %}For accounting reasons we have to process your new payment immediately, but any time left on your old contribution will be added on to your new one. That means that your next monthly payment will only be due on {{ date }}.{% endblocktrans %}
	</p>
{% elif subscription %}
	{% comment %} Case for a still running subscription (update payment info form) {% endcomment %}
	<h2>{% trans "Update your payment details" context "(PF40)" %}</h2>
	<p>
		{% trans "You can choose a new payment method or update your payment details here." context "(PF41)" %}
	</p>
	<p>
		{% blocktrans with date=subscription.get_due_date_after_next|localize context "(PF43)" %}We have to process your first new payment immediately, but any time left on your current Contribution will be added on to your new one. That means that your next monthly payment will only be due on {{ date }}.{% endblocktrans %}
	</p>
	<p>
		{% trans "If you only want to adjust the amount of your monthly contribution using the same payment details, you can do it here" context "(PF11x)" %}:
		<a href="{% url 'wechange-payments:my-subscription' %}">{% trans "Your Contribution" context "(PF1)" %}</a>
	</p>
{% else %}
	{% comment %} Case for no subscription {% endcomment %}
	
	{% block no_subscription_campain %}
		<h2>{% blocktrans with portal_name=COSINNUS_CURRENT_PORTAL.name context "(PF13)" %}You are using {{ portal_name }} free of charge.{% endblocktrans %}</h2>
		<p>
			{% captureas desc_text %}{% blocktrans with portal_name=COSINNUS_CURRENT_PORTAL.name context "(PF14)" %}This is possible because other users are co-financing you.
	
	In order to operate and further develop {{ portal_name }} on a permanent cost-covering basis, we are dependent on voluntary contributions from our users.
	
	With an average monthly contribution of 5 Euro, we can cover the costs of hosting the platform. Therefore, we are grateful if some give a little more to co-finance others.
	
	Here you can set your monthly contribution to support {{ portal_name }}. We automatically collect the contribution once a month. You can choose between direct debit and credit card.
	
	You can change or terminate your monthly contribution at any time by clicking on "Your Contribution" in your user menu.
	{% endblocktrans %}{% endcaptureas %}
			{{ desc_text|linebreaksbr }}
		</p>
	{% endblock no_subscription_campain %}
{% endif %}

{% include "wechange_payments/partials/additional_campaign_header.html" %}

<p>
	<a href="{% include 'wechange_payments/partials/url_learn_more.html' %}">{% trans "Learn more" context "(MS4)" %}</a>
</p>
