{% extends "wechange_payments/base.html" %}
{% load l10n i18n cosinnus_tags static widget_tweaks %}

{% block page_title %}{% trans "(TS1) Terminate your subscription" %}{% endblock %}

{% block leftnav %}
	{% include 'wechange_payments/leftnav.html' %}
{% endblock leftnav %}

{% block breadcrumb %}
	{{ block.super }}
	<li><a class="active" href="{% url 'wechange-payments:cancel-subscription' %}">{% trans "(TS1) Terminate your subscription" %}</a></li>
{% endblock %}

{% block content %}
    
    <!-- a box with semi transparent background -->
    <div class="v2-content">
    	<h2>{% trans "(TS1) Terminate your Subscription" %}</h2>
    	
    	<p>
    		{% trans "(TS2) sorry and think-about-it-again-please text" %}
    	</p>
    	
    	<h3>{% trans "(TS3) What happens when you cancel your subscription" %}</h3>
    	<p>
			{% if current_subscription.state == 3 %}
				{% trans "(TS4) (explanation) No payments have been made yet. Your subscription will be cancelled." %}
			{% elif current_subscription.state == 2 %}
				{% trans "(TS5) (explanation) Your subscription will be terminated and no future payments will be made. Your currently paid subscription status will remain active until" %}:
				<span class="moment-data-date" data-date="{{ current_subscription.next_due_date|date:'c' }}"></span>
			{% endif %}
		</p>
		
		<div class="button-section clearfix">
            <a class="pull-right rounded-button button-color-secondary" data-toggle="modal" data-target="#cancel_confirm_modal">
		        <span class="rounded-button-inner">
					{% trans "(TS6) Terminate Subscription" %}
		        </span>
		    </a>
		</div>
    	
	    {% captureas label %}{% trans "(TS7) Confirm subscription canceling dialog text" %}{% endcaptureas %}
	    {% captureas title %}{% trans "(TS8) Terminate Subscription" %}{% endcaptureas %}
	    {% include "cosinnus/modal_box.html" with id="cancel_confirm_modal" label=label title=title title_icon="fa-close" form_action="." %}
    </div>
    
    
    
        
    
{% endblock %}

