{% extends "wechange_payments/base.html" %}
{% load l10n i18n cosinnus_tags static widget_tweaks %}

{% block page_title %}{% trans "(TS1) Cancel your monthly Contribution" %}{% endblock %}

{% block leftnav %}
	{% include 'wechange_payments/leftnav.html' %}
{% endblock leftnav %}

{% block breadcrumb %}
	{{ block.super }}
	<li><a class="active" href="{% url 'wechange-payments:cancel-subscription' %}">{% trans "(TS1) Cancel your monthly Contribution" %}</a></li>
{% endblock %}

{% block content %}
    
    <!-- a box with semi transparent background -->
    <div class="v2-content">
    	<h2>{% trans "(TS1) Cancel your monthly Contribution" %}</h2>
    	
    	<p>
    		{% trans "(TS2) sorry and think-about-it-again-please text" %}
    	</p>
    	
    	<h3>{% trans "(TS3) What happens when you cancel your monthly Contribution" %}</h3>
    	<p>
			{% if current_subscription.state == 3 %}
				{% trans "(TS4) (explanation) No payments have been made yet. Your monthly Contribution will be cancelled." %}
			{% elif current_subscription.state == 2 %}
				{% blocktrans with date=current_subscription.next_due_date|localize %}(TS5) (explanation) Your monthly Contribution will be terminated and no future payments will be made. Your currently paid Contribution status will remain active until {{ date }}.{% endblocktrans %}
			{% endif %}
		</p>
		
		<div class="button-section clearfix">
            <a class="pull-right rounded-button button-color-secondary" data-toggle="modal" data-target="#cancel_confirm_modal">
		        <span class="rounded-button-inner">
					{% trans "(TS6) Cancel your Contribution" %}
		        </span>
		    </a>
		    <a href="{% url "wechange-payments:overview" %}" class="pull-left rounded-button button-color-tertiary">
		        <span class="rounded-button-inner">
            		{% trans "Cancel" %}
		        </span>
		    </a>
		</div>
		
		<div class="button-section clearfix">
            <a href="{% url "wechange-payments:my-subscription" %}" class="pull-right rounded-button button-color-primary-inverted">
		        <span class="rounded-button-inner">
					{% trans "(MS5) Modify Contribution Amount" context "payment step button" %}
		        </span>
		    </a>
		</div>
    	
	    {% captureas label %}{% trans "(TS7) Confirm Contribution canceling confirm-dialog header" %}{% endcaptureas %}
	    {% captureas title %}{% trans "(TS8) Confirm Contribution canceling confirm-dialog text" %}{% endcaptureas %}
	    {% include "cosinnus/modal_box.html" with id="cancel_confirm_modal" label=label title=title title_icon="fa-close" form_action="." %}
    </div>
    
    
    
        
    
{% endblock %}

