{% extends "wechange_payments/base.html" %}
{% load l10n i18n cosinnus_tags static widget_tweaks %}

{% block page_title %}{% trans "Stop payments" context "(TS1)" %}{% endblock %}

{% block leftnav %}
	{% include 'wechange_payments/leftnav.html' %}
{% endblock leftnav %}

{% block breadcrumb %}
	{{ block.super }}
	<li><a class="active" href="{% url 'wechange-payments:cancel-subscription' %}">{% trans "Stop payments" context "(TS1)" %}</a></li>
{% endblock %}

{% block content %}
    
    <!-- a box with semi transparent background -->
    <div class="v2-content">
    	<h2>{% trans "Stop payments" context "(TS1)" %}</h2>
    	
    	<p>
    		{% trans "Too bad you want to end your contribution! Don't you want to reconsider? You can also choose a smaller amount. Every small contribution helps us. If you are dissatisfied with something, we would be happy to receive your feedback at support@wechange.de" context "(TS2)" %}
    	</p>
    	
    	<h3>{% trans "What happens when you terminate your subscription" context "(TS3)" %}</h3>
    	<p>
			{% if current_subscription.state == 3 %}
				{% trans "No payments have been made yet. Your Contribution will be cancelled." context "(TS4) (explanation)" %}
			{% elif current_subscription.state == 2 %}
				{% blocktrans with date=current_subscription.next_due_date|localize context "(TS5)" %}Your subscription will be terminated and no future payments will be made. Your current payment status will remain active until {{ date }}. You can reset the payments at any time.{% endblocktrans %}
			{% endif %}
		</p>
		
		<div class="button-section clearfix">
		    <a href="{% url "wechange-payments:my-subscription" %}" class="pull-right rounded-button button-color-primary-inverted">
		        <span class="rounded-button-inner">
					{% trans "Modify Contribution Amount" context "(MS5-rethink-cancelling)" %}
		        </span>
		    </a>
		    <a href="{% url "wechange-payments:overview" %}" class="pull-left rounded-button button-color-tertiary">
		        <span class="rounded-button-inner">
            		{% trans "Cancel" %}
		        </span>
		    </a>
		</div>
		
		<div class="button-section clearfix">
            <a class="pull-right rounded-button button-color-secondary" data-toggle="modal" data-target="#cancel_confirm_modal">
		        <span class="rounded-button-inner">
					{% trans "Terminate subscription" context "(TS6)" %}
		        </span>
		    </a>
		</div>
    	
	    {% captureas label %}{% trans "Do you really want to terminate your subscriptions? You can create a new contribution at any time." context "(TS7)" %}{% endcaptureas %}
	    {% captureas title %}{% trans "You don't want to pay contributions anymore?" context "(TS8)" %}{% endcaptureas %}
	    {% include "cosinnus/modal_box.html" with id="cancel_confirm_modal" label=label title=title title_icon="fa-close" form_action="." %}
    </div>
    
    
    
        
    
{% endblock %}

