{% extends "wechange_payments/base.html" %}
{% load l10n i18n cosinnus_tags static widget_tweaks %}

{% block page_title %}{% trans "My Invoices" %}{% endblock %}

{% block leftnav %}
	{% include 'wechange_payments/leftnav.html' %}
{% endblock leftnav %}

{% block breadcrumb %}
	{{ block.super }}
	<li><a class="active" href="{% url 'wechange-payments:invoices' %}">{% trans "My Invoices" %}</a></li>
{% endblock %}

{% block content %}
    
    <!-- a box with semi transparent background -->
    <div class="content-box">
    	<h1>{% trans "Invoices" %}</h1>
    
    	{% for invoice in invoice %}
    		TODO: invoice
    	{% endfor %}
    	
    </div>
        
    
{% endblock %}

