{% load i18n cosinnus_tags payments_tags %}

{% comment %} `suspended_subscription` comes from the context processor {% endcomment %}
{% if suspended_subscription %}
	<div class="app-etherpad">
    {% url 'wechange-payments:suspended-subscription' as payment_url %}
    {% trans "Current Payment Issues" context "(FC1)" as label %}
    {% include "cosinnus/leftnav_button.html" with extra_classes="regular-space" icon="fa-exclamation-triangle" label=label show_required=True href=payment_url  %}
	</div>
{% endif %}

{% url 'wechange-payments:overview' as payment_url %}
{% trans "Your Contribution" context "(LN1)" as label %}
{% include "cosinnus/leftnav_button.html" with extra_classes="regular-space" icon="fa-eur" label=label show_required=True href=payment_url  %}

{% comment %} `current_subscription` comes from the context processor {% endcomment %}
{% if current_subscription %}
	{% url 'wechange-payments:payment-infos' as payment_url %}
	{% trans "Payment Information" context "(LN2)" as label %}
	{% include "cosinnus/leftnav_button.html" with extra_classes="regular-space" icon="fa-credit-card" label=label show_required=True href=payment_url  %}
{% endif %}

{% if user|has_invoices %}
	{% url 'wechange-payments:invoices' as payment_url %}
	{% trans "Your Invoices" context "(LN3)" as label %}
	{% include "cosinnus/leftnav_button.html" with extra_classes="regular-space" icon="fa-file-text" label=label show_required=True href=payment_url  %}
{% endif %}

{% comment %} Only shown in the "MySubscriptionView" {% endcomment %}
{% if 0 and past_subscriptions %}
	{% url 'wechange-payments:past-subscriptions' as payment_url %}
	{% trans "Past Contributions" context "(LN4)" as label %}
	{% include "cosinnus/leftnav_button.html" with extra_classes="regular-space" icon="fa-history" label=label show_required=True href=payment_url  %}
{% endif %}

{% comment %}  
No cancelling here for now

{% if current_subscription and current_subscription.state == 2 %}
	{% url "wechange-payments:cancel-subscription" as cancel_url %}
	{% trans "Cancel your Contribution" context "(MS6)" as label %}
	{% include "cosinnus/leftnav_button.html" with extra_classes="regular-space" icon="fa-minus-circle" label=label show_required=True href=cancel_url  %}
{% endif %}
{% endcomment %}

<hr class="invisible"/>

{% if COSINNUS_CURRENT_PORTAL.support_email %}
	{% captureas content %}
        <p>
            {% trans "If you have any questions about your Contribution or encountered any problems, please send an email to" context "(LN7)" %}:
        </p>
        <p>
			<a href="mailto:{{ COSINNUS_CURRENT_PORTAL.support_email }}">{{ COSINNUS_CURRENT_PORTAL.support_email }}</a>
		</p>
	{% endcaptureas %}
    {% trans "Contact support" context "(LN5)" as title %}
    {% include "cosinnus/modal_box.html" with id="supportModal" label=content title=title title_icon="fa-envelope" %}
	
	{% trans "Contact our Support" context "(LN6)" as label %}
	{% include "cosinnus/leftnav_button.html" with extra_classes="regular-space" icon="fa-envelope" label=label extra_atts='href="#" data-toggle="modal" data-target="#supportModal"' %}
{% endif %}

