{% load i18n %}

{% url 'wechange-payments:overview' as payment_url %}
{% trans "My Contribution" as label %}
{% include "cosinnus/leftnav_button.html" with extra_classes="regular-space" icon="fa-eur" label=label show_required=True href=payment_url  %}

{% comment %} `current_subscription` comes from the context processor {% endcomment %}
{% if current_subscription %}
	{% url 'wechange-payments:payment-infos' as payment_url %}
	{% trans "Payment Information" as label %}
	{% include "cosinnus/leftnav_button.html" with extra_classes="regular-space" icon="fa-credit-card" label=label show_required=True href=payment_url  %}
{% endif %}

{% if current_subscription or past_subscriptions %}
	{% url 'wechange-payments:invoices' as payment_url %}
	{% trans "My Invoices" as label %}
	{% include "cosinnus/leftnav_button.html" with extra_classes="regular-space" icon="fa-file-text" label=label show_required=True href=payment_url  %}
{% endif %}

{% comment %} Only shown in the "MySubscriptionView" {% endcomment %}
{% if 0 and past_subscriptions %}
	{% url 'wechange-payments:past-subscriptions' as payment_url %}
	{% trans "Past Subscriptions" as label %}
	{% include "cosinnus/leftnav_button.html" with extra_classes="regular-space" icon="fa-history" label=label show_required=True href=payment_url  %}
{% endif %}

<h2>TODO: add support email link!</h2>
