{% extends "wechange_payments/base.html" %}
{% load l10n i18n cosinnus_tags static widget_tweaks %}

{% block cosinnus_jshead %}
	{{ block.super }}
	
	{% include 'wechange_payments/partials/slider_constants.html' with slider_initial_amount=subscription.amount  debit_period_initial=subscription.debit_period %}
{% endblock %}

{% block extrahead %}
	{{ block.super }}
	
	{% include 'wechange_payments/partials/slider_dependencies.html' %}
{% endblock %}

{% block page_title %}{% trans "Your Contribution" context "(MS1)" %}{% endblock %}

{% block leftnav %}
	{% include 'wechange_payments/leftnav.html' %}
{% endblock leftnav %}

{% block breadcrumb %}
	{{ block.super }}
	<li><a class="active" href="{% url 'wechange-payments:my-subscription' %}">{% trans "Your Contribution" context "(MS1)" %}</a></li>
{% endblock %}

{% block content %}
    
    {% comment %} The 'onkeydown' attribute prevents form sending on enter {% endcomment %}
    <form method="POST" action="{% url "wechange-payments:api-subscription-change-amount" %}" 
    		class="payments-form cosinnus-form form-horizontal large-space" onkeydown="return event.key != 'Enter';">{% csrf_token %}
        
        <!-- a box with semi transparent background -->
        <div class="v2-content">
	        <div class="error-frame alert alert-danger alert-dismissable" style="display: none;">
	            <i class="fa fa-exclamation-triangle fa-3x"></i>
		        <p class="error-message"></p>
		    </div>
		    
		    <h2>
                {% blocktrans with amount=subscription.debit_amount|intify debit_period=subscription.get_debit_period_display context "(MS2)" %}Your current Contribution is {{ amount }} Euro {{ debit_period }}{% endblocktrans %}
                {% if not subscription.is_monthly %}
                    {% blocktrans with amount=subscription.amount|intify context "(MS9)" %}({{ amount }} Euro per month){% endblocktrans %}
                {% endif %}
            </h2>
			<p>
                {% captureas desc_text %}{% blocktrans with portal_name=COSINNUS_CURRENT_PORTAL.name context "(MS3)" %}We understand WECHANGE as a common good: You pay for the use of WECHANGE what it is worth to you. With every Euro you spend, you help us to make WECHANGE better. With an average of 5 Euros per month, we can cover the costs of hosting the platform, everything above contributes directly to further development.

If you can contribute less or nothing at all, we're sure you have good reasons. But please remember: This is only possible because other users support you!{% endblocktrans %}{% endcaptureas %}
                {{ desc_text|linebreaksbr }}
			</p>
			
			{% include "wechange_payments/partials/additional_campaign_header.html" %}
			
			<p>
				<a href="{% include 'wechange_payments/partials/url_learn_more.html' %}" target="_blank">{% trans "Learn more" context "(MS4)" %}</a>
			</p>
			
			{% include "wechange_payments/partials/additional_campaign_section.html" %}
			
			<hr/>
			
			<h3>{% trans "Change your monthly Contribution" context "(MS7)" %}:</h3>
			
        	<div class="large-space">
				<span>
					{% trans "If you would like to change the amount you contribute, you can choose a new amount using the slider. You may also choose a higher amount by entering it manually." context "(MS8)" %}
					{% blocktrans with vat_amount=SETTINGS.PAYMENTS_INVOICE_PROVIDER_TAX_RATE_PERCENT context "(PF24)" %}Contribution amount includes {{ vat_amount }}% VAT.{% endblocktrans %}
				</span>
			</div>

            {% include 'wechange_payments/fields/slider.html' with field_name='amount' %}

            <h3>{% trans "Change your debit period" context "(MS8)" %}:</h3>

            {% include 'wechange_payments/fields/period_slider.html' with field_name='debit_period' %}

			<div class="button-section clearfix">
				{% comment %} Add this to the button to make it initially disabled until the amount is changed:
	                class="enabled-on-change disabled" disabled="disabled">
				{% endcomment %}
                <button type="submit" class="pull-right rounded-button button-color-primary-inverted"> 
			        <span class="rounded-button-inner">
						{% trans "Modify Contribution Amount" context "(MS5)" %}
			        </span>
			    </button>
			    	
				    <a href="{% url "wechange-payments:cancel-subscription" %}" class="pull-left rounded-button button-color-tertiary">
				        <span class="rounded-button-inner">
	                		{% trans "Terminate your Contribution" context "(MS6)" %}
				        </span>
				    </a>
			    {% comment %}  
		    	No changing payment infos here for now
			    <a href="{% url "wechange-payments:payment-update" %}" class="pull-left rounded-button button-color-secondary">
			        <span class="rounded-button-inner">
						{% trans "Change payment information" context "(TS9)" %}
			        </span>
			    </a>
			    {% endcomment %}
			</div>
		    
		</div>
	</form>
        
    
{% endblock %}

