{% extends "wechange_payments/base.html" %}
{% load l10n i18n cosinnus_tags static widget_tweaks %}

{% block page_title %}{% trans "Past Contributions" %}{% endblock %}

{% block leftnav %}
	{% include 'wechange_payments/leftnav.html' %}
{% endblock leftnav %}

{% block breadcrumb %}
	{{ block.super }}
	<li><a class="active" href="{% url 'wechange-payments:past-subscriptions' %}">{% trans "Past Contributions" %}</a></li>
{% endblock %}

{% block content %}
    
    <!-- a box with semi transparent background -->
    <div class="v2-content">
    	<h1>{% trans "Past Contributions" %}</h1>
    
    	{% for subscription in past_subscriptions %}
    		{{ subscription.created }} - 
    		<i><span class="moment-data-date" data-date="{{ subscription.next_due_date|date:'c' }}"></span></i>
    		<br/>
    	{% endfor %}
    	
    	
    </div>
        
    
{% endblock %}

