{% extends "wechange_payments/base.html" %}
{% load l10n i18n cosinnus_tags static widget_tweaks %}

{% block extrahead %}
	{{ block.super }}
{% endblock %}


{% block page_title %}{% trans "Payment Success" context "(SC1)" %}{% endblock %}

{% block leftnav %}
	{% include 'wechange_payments/leftnav.html' %}
{% endblock leftnav %}

{% block breadcrumb %}
	{{ block.super }}
	<li><a class="active" href="{% url 'wechange-payments:payment' %}">{% trans "Payments" context "(SC2)" %}</a></li>
{% endblock %}

{% block content %}
    
    {% if request.GET.subscription_error %}
        <div class="error-frame alert alert-danger alert-dismissable">
            <i class="fa fa-exclamation-triangle fa-3x"></i>
	        <p class="error-message">
	        	{% trans "Your payment was processed successfully, but your Contribution could not be activated due to an internal server error." context "(SC3)" %}
	        </p>
			<p>	        	
				{% trans "Please contact the support. Don't worry, we will sort everything out! In the meantime, please do not make any additional payments! Please excuse the inconveniences!" context "(SC4)" %}
			</p>
			<p>	        	
	        	{% if COSINNUS_CURRENT_PORTAL.support_email %}
	        		<a href="mailto:{{ COSINNUS_CURRENT_PORTAL.support_email }}">{{ COSINNUS_CURRENT_PORTAL.support_email }}</a>
	        	{% endif %}
	        </p>
	    </div>
    {% endif %}
    
    <!-- a box with semi transparent background -->
    <div class="v2-content">
		<h1>{% trans "Thank you for your Contribution!" context "(SC5)" %}</h1>
		
		<p>
			{% trans "You're awesome! With your voluntary contribution we can further develop WECHANGE." context "(SC6)" %}
		</p>
		
		{% if payment.type == 'dd' %}
			<hr/>
			<h3>{% trans "Your SEPA Mandate" %}</h3>
			
			{% captureas embedded %}{% include 'wechange_payments/mail/sepa_mandate_partial.html' with payment=payment %}{% endcaptureas %}
			<code>{{ embedded|linebreaksbr }}
			</code>
		{% endif %}
		
		{% if not request.GET.subscription_error %}
		    <div class="button-section clearfix">
		    	<a href="{% get_non_cms_root_url %}" class="rounded-button button-color-primary-inverted">
			        <span class="rounded-button-inner">
	                    {% blocktrans with portal_name=COSINNUS_CURRENT_PORTAL.name context "(SC8)" %}Back to {{ portal_name }}{% endblocktrans %}
			        </span>
			    </a>
	            <a href="{% url "wechange-payments:payment-infos" %}" class="pull-right rounded-button button-color-primary-inverted">
			        <span class="rounded-button-inner">
	                    {% trans "Show payment overview" context "(SC7)" %}
			        </span>
			    </a>
			</div>
	    {% endif %}
    
	</div>    
    
{% endblock %}

