{% extends "wechange_payments/base.html" %}
{% load l10n i18n cosinnus_tags static widget_tweaks %}

{% block extrahead %}
	{{ block.super }}
	
	{% include 'wechange_payments/partials/slider_dependencies.html' %}
{% endblock %}


{% block page_title %}{% trans "(PF1) Payments" %}{% endblock %}

{% block leftnav %}
	{% include 'wechange_payments/leftnav.html' %}
{% endblock leftnav %}

{% block breadcrumb %}
	{{ block.super }}
	<li><a class="active" href="{% url 'wechange-payments:payment' %}">{% trans "(PF1) Payments" %}</a></li>
{% endblock %}

{% block content %}
    
    {% comment %} The 'onkeydown' attribute prevents form sending on enter {% endcomment %}
    <form method="POST" action="{% url "wechange-payments:api-make-subscription-payment" %}" 
    		class="payments-form cosinnus-form form-horizontal large-space" onkeydown="return event.key != 'Enter';">{% csrf_token %}
        
        <div class="busy-animation">
        	<i class="fas fa-spinner fa-spin"></i>
        </div>
        
        <!-- a box with semi transparent background -->
        <div class="v2-content">
	        <div class="error-frame alert alert-danger alert-dismissable" style="display: none;">
	            <i class="fa fa-exclamation-triangle fa-3x"></i>
		        <p class="error-message"></p>
		    </div>
		    
		    <div class="tab-content">
		    
				<div class="tab-pane active" id="step1">
		        	{% include 'wechange_payments/partials/conditional_payment_header.html' %}
					
					<div class="button-section clearfix">
						<a href="{% include 'wechange_payments/partials/url_learn_more.html' %}" class="rounded-button button-color-secondary">
					        <span class="rounded-button-inner">
					            {% trans "(PF2) Learn more" %}
					        </span>
					    </a>
		                <a class="rounded-button button-color-primary-inverted focus-slider-onclick" href="#step2" role="tab" data-toggle="tab">
					        <span class="rounded-button-inner">
								{% trans "(PF3) Choose Contribution" context "payment step button" %}
					        </span>
					    </a>
					    
					    {% if current_subscription and SETTINGS.COSINNUS_PAYMENTS_TEST_PHASE %}
					    <hr>
					    <a href="{% url 'wechange-payments:debug-delete-subscription' %}">
					    	TESTPHASE ONLY: CLICK HERE TO COMPLETELY REMOVE THE CANCELED SUBSCRIPTION WHICH IS STILL RUNNING
					    </a>
					    {% endif %}
					    
					</div>
				</div>
				
				<div class="tab-pane" id="step2">
		        	{% include 'wechange_payments/partials/conditional_payment_header.html' %}
					
					<div class="button-section clearfix">
						<a href="{% include 'wechange_payments/partials/url_learn_more.html' %}" class="rounded-button button-color-secondary">
					        <span class="rounded-button-inner">
					            {% trans "(PF2) Learn more" %}
					        </span>
					    </a>
					</div>
					
					<hr/>
					
        			{% include 'wechange_payments/fields/slider.html' with field_name='amount' %}
        			
        			<div class="button-section clearfix">
        				<a class="rounded-button button-color-secondary" href="#step1" role="tab" data-toggle="tab">
					        <span class="rounded-button-inner">
					            &lt; {% trans "(PF16) I changed my mind" context "payment step button" %}
					        </span>
					    </a>
		                <a class="pull-right rounded-button button-color-primary-inverted" href="#step3" role="tab" data-toggle="tab">
					        <span class="rounded-button-inner">
								{% trans "(PF4) Set Contribution Amount" context "payment step button" %}
					        </span>
					    </a>
					</div>
				</div>
				
				<div class="tab-pane" id="step3">
					
				    {% if SETTINGS.COSINNUS_PAYMENTS_TEST_PHASE %} 
				    	<div class="alert alert-warning alert-dismissable">
				            <i class="fa fa-exclamation fa-3x"></i>
				            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&#215;</button>
					        <p style="">Testphase! Es werden keine echten Zahlungen vorgenommen und alle Transaktionen können gefahrlos getestet werden! Es werden wohlformatierte, aber keine "echten" Zahlungsinformationen benötigt!</p>
					        <p>
					        	<h2>Die folgenden Testdaten können zum Accounts testen benutzt werden:</h2>
					        	<ul>
					        		<li>SEPA: IBAN: DE89370400440532013000, BIC: COBADEFFXXX</li>
					        		<li>Kreditkarte: Nr: 4907639999990022, CCV: 029, beliebiger Name, Datum in der Zukunft</li>
					        		<li>Paypal: Benutzer: paula.penny@example.com, Passwort: paypaltest1</li>
					        	</ul>
					        </p>
					    </div>
				    {% endif %}
				
					<h2>{% trans "(PF5)  Almost done!" %}</h2>
					
					<p>
						{% trans "(PF6)  Please enter your account information below." %}
					</p>
					
					<hr />
					
		            <h3>{% trans "Payment Info" %}</h3>
		            
					{% trans "Payment Type" as label %}
					{% captureas select_field_html %}
						<style>
							select:invalid { color: gray; }
						</style>
						<select name="{{ form.payment_type.html_name }}" autocomplete="off" required id="{{ form.payment_type.id_for_label }}">
                            <option value="" disabled selected hidden>- {% trans "Select Payment Method" %} -</option>
                            {% for value, label in form.payment_type.field.choices %}
			                    <option value="{{ value }}">{{ label }}</option>
			                {% endfor %}
                        </select>
					{% endcaptureas %}
					{% include 'cosinnus/fields/default_field.html' with field=form.payment_type label=label field_html=select_field_html show_required=True field_classes="conditional-select" %}
					
					
		            <div class="conditional-select-container" data-select-name="payment_type" data-select-value="dd">
			            <div class="row">
			                <div class="col-sm-6 regular-space">
								{% trans "IBAN" as label %}
								{% include 'cosinnus/fields/default_field.html' with field=form.iban label=label show_required=True %}
			                </div>
			                <div class="col-sm-6 regular-space">
								{% trans "BIC" as label %}
								{% include 'cosinnus/fields/default_field.html' with field=form.bic label=label show_required=True %}
			                </div>
			            </div><!-- row -->
			            
			            {# email Field #}
						{% trans "Account Holder" as label %}
						{% include 'cosinnus/fields/default_field.html' with field=form.account_holder label=label show_required=True %}
					</div>
		
					<div class="conditional-select-container" data-select-name="payment_type" data-select-value="cc">			
						<hr class="invisible"/>
						<p>{% blocktrans with payment_provider="Better Payment Germany" %}In the next step, you will be redirected to complete the payment process with the payment provider {{ payment_provider }}.{% endblocktrans %}</p>
					</div>
					
					<div class="conditional-select-container" data-select-name="payment_type" data-select-value="paypal">			
						<hr class="invisible"/>
						<p>{% blocktrans with payment_provider="Paypal" %}In the next step, you will be redirected to complete the payment process with the payment provider {{ payment_provider }}.{% endblocktrans %}</p>
					</div>
					
					<hr>
		    		
		    		<h3>{% trans "Billing Address" %}</h3>
		    		
					{% trans "E-Mail" as label %}
					{% include 'cosinnus/fields/default_field.html' with field=form.email label=label show_required=True %}
		    		
		    		<div class="row">
		                <div class="col-sm-6 regular-space">
							{% trans "First name" as label %}
							{% include 'cosinnus/fields/default_field.html' with field=form.first_name label=label show_required=True%}
		                </div>
		                <div class="col-sm-6 regular-space">
							{% trans "Last name" as label %}
							{% include 'cosinnus/fields/default_field.html' with field=form.last_name label=label show_required=True %}
		                </div>
		            </div><!-- row -->
		            
		            {% trans "Address" as label %}
					{% include 'cosinnus/fields/default_field.html' with field=form.address label=label show_required=True %}
		        	
		        	<div class="row">
		                <div class="col-sm-6 regular-space">
							{% trans "Postal Code" as label %}
							{% captureas postal_code_html %}
								<input type="tel" name="{{ form.postal_code.html_name }}" value="{% if form.postal_code.value %}{{ form.postal_code.value }}{% endif %}" autocomplete="off" required id="{{ form.postal_code.id_for_label }}" pattern="[0-9]*">
							{% endcaptureas %}
							{% include 'cosinnus/fields/default_field.html' with field=form.postal_code field_html=postal_code_html label=label show_required=True %}
							
		                </div>
		                <div class="col-sm-6 regular-space">
							{% trans "City" as label %}
							{% include 'cosinnus/fields/default_field.html' with field=form.city label=label show_required=True %}
		                </div>
		            </div><!-- row -->
		        	
		        	{% trans "Country" as label %}
					{% include 'cosinnus/fields/default_field.html' with field=form.country label=label show_required=True %}
		        	
		        	<div class="large-space"></div>
		        	
			        {% include 'cosinnus/registration/extra_signup_fields.html' with show_plain_form=True %}
				    
				    <hr/>
				    
					<p>
						(PF7) TODO: Should we show the subscription amount again here as a confirmation for the user what they're actually paying when they click the next button??
					</p>
					
				    <hr/>
				    
					<div class="button-section clearfix">
						<a class="rounded-button button-color-secondary focus-slider-onclick" href="#step2" role="tab" data-toggle="tab">
					        <span class="rounded-button-inner">
					            &lt; {% trans "(PF8) Modify Contribution Amount" context "payment step button" %}
					        </span>
					    </a>
					    <button type="submit" class="pull-right rounded-button button-color-primary-inverted">
					        <span class="rounded-button-inner">
								{% trans "(PF9) Confirm and pay" context "payment step button" %}
					        </span>
					    </button>		
					
					</div>
				</div>
				
			</div>
		    
		    
        	
        	
        </div>
        
        
    </form>
    
    
    
{% endblock %}

