{% load i18n cosinnus_tags %}

{% if payment_popup_times_closed_before > 0 or request.GET.popup_type == 'repeat' %}
	{% comment %} Default, long running, monthly reappearing version {% endcomment %}
	
	{% trans "(POP1-repeat) popup header" as title %}
	{% captureas body %}
		<p>
			{% trans "(POP2-repeat) dear user," %}
		</p>
		<p>
			{% trans "(POP3-repeat) popup body text " as pop_text %}
			{{ pop_text|linebreaksbr }}
		</p>
		<hr class="invisible" />
	{% endcaptureas %}
{% elif payment_popup_user_registered_after_payments or request.GET.popup_type == 'newuser' %}
	{% comment %} Newly registered user, 5-day or so delayed version {% endcomment %}
	
	{% trans "(POP1-newuser) popup header" as title %}
	{% captureas body %}
		<p>
			{% trans "(POP2-newuser) Dear WECHANGE-Community," %}
		</p>
		<p>
			{% trans "(POP3-newuser) popup body text" as pop_text %}
			{{ pop_text|linebreaksbr }}
		</p>
		<hr class="invisible" />
	{% endcaptureas %}
{% else %}
	{% comment %} Old user (registered before payments were introduced) one-time shown version {% endcomment %}
	
	{% trans "(POP1-release) popup header" as title %}
	{% captureas body %}
		<p>
			{% trans "(POP2-release) dear user," %}
		</p>
		<p>
			{% trans "(POP3-release) popup body text" as pop_text %}
			{{ pop_text|linebreaksbr }}
		</p>
		<hr class="invisible" />
	{% endcaptureas %}
{% endif %}

	{% comment %}  
	Inspirational quote is out for now	
	
	<p>
		<b>{% trans "(POP4a) 'inspirational quote'" %}</b>
		<br/>
		{% trans "(POP4b) quote credit" %}</b>
		
	</p>
	{% endcomment %}

{% captureas buttons %}
	<a href="{% include 'wechange_payments/partials/url_learn_more.html' %}" class="rounded-button button-color-secondary">
        <span class="rounded-button-inner">
            {% trans "(POP5) Learn more" %}
        </span>
    </a>
    <a href="{% url 'wechange-payments:overview' %}" class="rounded-button button-color-primary-inverted">
        <span class="rounded-button-inner">
            {% trans "(POP6) Choose amount" %}
        </span>
    </a>
{% endcaptureas %}

{% include "cosinnus/v2/elements/modal_box.html" with id="payments_popup" title=title body=body buttons=buttons %}

<script type="text/javascript">
	$('#payments_popup button.close').on('click', function(){
		$.ajax({url: '{% url "wechange-payments:api-snooze-popup" %}', type: 'POST'});
	});
    $('#payments_popup').modal('show');
</script>
