{% extends "wechange_payments/base.html" %}
{% load l10n i18n cosinnus_tags static widget_tweaks %}

{% block page_title %}{% trans "Your payment details" context "(INF1)" %}{% endblock %}

{% block leftnav %}
	{% include 'wechange_payments/leftnav.html' %}
{% endblock leftnav %}

{% block breadcrumb %}
	{{ block.super }}
	<li><a class="active" href="{% url 'wechange-payments:payment-infos' %}">{% trans "Your payment details" context "(INF1)" %}</a></li>
{% endblock %}

{% block content %}
    
    <!-- a box with semi transparent background -->
    <div class="v2-content white-content payment-info-page">
		<h2>{% trans "Your Contribution" context "(INF17)" %}</h2>
    	<div class="large-space">
    		<table>
				<tr>
					<td>{% trans "The last payment was made on" context "(INF10)" %}</td>
					<td>
						{% if last_payment.status < 3 %}
							{% blocktrans with date=last_payment.last_action_at.date|localize context "(INF15)" %}Processing. Started at {{ date }}.{% endblocktrans %}
						{% elif last_payment.status > 3 %}
							{% blocktrans with date=last_payment.last_action_at.date|localize context "(INF16)" %}Attempted at {{ date }}, but not completed.{% endblocktrans %}
						{% else %}
							{{ last_payment.completed_at.date|localize }}
						{% endif %}
					</td>
				</tr>
				<tr>
					<td>{% trans "Amount" context "(INF11)" %}</td>
					<td>{{ last_payment.debit_amount|intify }} €</td>
				</tr>
			</table>
		</div>
		<div class="regular-space">
			{% trans "All information about your past payments can be found in the invoice overview" context "(INF13)" %}:
		</div>
		<div>
    		<a href="{% url "wechange-payments:invoices" %}" class="rounded-button button-color-secondary">
		        <span class="rounded-button-inner">
					{% trans "Show Invoice overview" context "(INF14)" %}
		        </span>
		    </a>
		</div>
		<hr class="invisible" />
		
		{% if subscription.state > 0 %}
		<div class="large-space">
    		<table>
				<tr>
					<td>{% trans "Contribution Status" context "(INF2)" %}</td>
					<td>
						{% if subscription.state == 3 %}
							{% trans "Will become active after your last Contribution expires." context "(INF3-subscription status)" %}
						{% elif subscription.state == 2 %}
							{% trans "Active since" context "(INF4-subscription status)" %}
							{{ subscription.created.date|localize }}
						{% elif subscription.state == 1 %}
							{% comment %} If a newer subscription with state 3 exists, this case won't be shown {% endcomment %}
							{% trans "Cancelled" context "(INF5-subscription status)" %}.
							{% trans "Expires" %}: 
							{{ subscription.next_due_date|localize }}
						{% endif %}
					</td>
				</tr>
				<tr>
					<td>{% trans "Next payment scheduled" context "(INF7)" %}</td>
					<td>
						{% if subscription.state == 1 %}
							-
						{% else %}
							{{ subscription.next_due_date|localize }}
						{% endif %}
					</td>
				</tr>
				{% if subscription.state > 1 %}
					<tr>
						<td>{% trans "Your current contribution" context "(INF6)" %}</td>
						<td>
							<span>{{ subscription.debit_amount|intify }} € {{ subscription.get_debit_period_display }}</span>
						</td>
					</tr>
				{% endif %}
			</table>
		</div>
		<div>
    		<a href="{% url "wechange-payments:payment" %}" class="rounded-button button-color-secondary">
		        <span class="rounded-button-inner">
		        	{% if subscription.state == 1 %}
		        		{% trans "Set up new Contribution" context "(INF8.2)" %}
		        	{% else %}
						{% trans "Adjust or terminate your Contribution" context "(INF8.1)" %}
					{% endif %}
		        </span>
		    </a>
		</div>
		
		{% endif %}
		
		{% if subscription.state > 1 %}
			<hr class=""></hr>
			<hr class="invisible"></hr>
			
			<h2>{% trans "Your payment details" context "(INF1)" %}</h2>
	    	<div class="large-space">
	    		{% include 'wechange_payments/partials/subscription_payment_information.html' with subscription=subscription %}
	    	</div>
	    	
	    	<div>
	    		<a href="{% url "wechange-payments:payment-update" %}" class="rounded-button button-color-secondary">
			        <span class="rounded-button-inner">
						{% trans "Change payment information" context "(TS9)" %}
			        </span>
			    </a>
			</div>
		{% endif %}
		
		{% comment %}  
			Popup explaining payment information
			
			{% captureas content %}
		        <p>
		        	{% trans "To change your payment method or billing address, please cancel the current Contribution and set up a new one!" context "(INF8)" %}
		        </p>
		        <p>
					{% trans "You will only be billed after the current Contribution expires." %} 
		        </p>
			{% endcaptureas %}
			{% captureas custom_button_html %}
				<button type="button" class="submit-btn-x btn btn-emphasized" href="{% if subscription.state == 1 %}{% url "wechange-payments:payment" %}{% else %}{% url "wechange-payments:cancel-subscription" %}{% endif %}">
                    <ul class="media-list">
                        <li class="media">
                            <a class="pull-left" href="#">
                                <i class="fa fa-check"></i>
                            </a>
                            <div class="media-body">
                                {% trans "OK" %}
                            </div>
                        </li>
                    </ul>
                </button>
                <button type="button" class="btn btn-emphasized" data-dismiss="modal">
                    <ul class="media-list">
                        <li class="media">
                            <a class="pull-left" href="#">
                                <i class="fa fa-times"></i>
                            </a>
                            <div class="media-body">
                                {% trans "Cancel" %}
                            </div>
                        </li>
                    </ul>
                </button>
			{% endcaptureas %}
            {% trans "Change payment information" context "(INF1.1)" as title %}
		    {% include "cosinnus/modal_box.html" with id="changePaymentInfoModal" label=content title=title title_icon="fa-credit-card" hide_submit_button=True custom_button_html=custom_button_html %}
		    
			<a class="rounded-button button-color-secondary" href="#" data-toggle="modal" data-target="#changePaymentInfoModal">
		        <span class="rounded-button-inner">
		            {% trans "Change payment informationx" context "(INF1.1)" %}
		        </span>
		    </a>
		
		{% endcomment %}

    	{% comment %}  
    		"Back to PORTAL" and "print as pdf" section, to do later! 
    	
    	<hr/>
    	<div>
    		<a href="{% get_non_cms_root_url %}" class="rounded-button button-color-primary-inverted">
		        <span class="rounded-button-inner">
                    {% blocktrans with portal_name=COSINNUS_CURRENT_PORTAL.name context "(SC8)" %}Back to {{ portal_name }}{% endblocktrans %}
                    TO DO: raus!
		        </span>
		    </a>
		    <a class="pull-right rounded-button button-color-secondary" href="{% url "wechange-payments:payment" %}">
		        <span class="rounded-button-inner">
		            {% trans "Print this page or save as PDF" context "(INF19)" %} (TO DO!)
		            TO DO: als icon
		        </span>
		    </a>
    	</div>
    	{% endcomment %}
    	
    	
    	
    </div>
        
    
{% endblock %}

