{% extends "wechange_payments/base.html" %}
{% load l10n i18n cosinnus_tags static widget_tweaks %}

{% block extrahead %}
	{{ block.super }}
	
	{% if not displayed_subscription or displayed_subscription.state == 1 %}
		{% include 'wechange_payments/partials/slider_dependencies.html' %}
	{% else %}
		{% include 'wechange_payments/partials/slider_dependencies.html' with slider_initial_amount=displayed_subscription.amount %}
	{% endif %}		
{% endblock %}


{% block page_title %}
	{% if is_update_form %}
		{% trans "Update payment information" context "(PF1a)" %}
	{% else %}
		{% trans "Your Contribution" context "(PF1)" %}
	{% endif %}
{% endblock %}

{% block leftnav %}
	{% include 'wechange_payments/leftnav.html' %}
{% endblock leftnav %}

{% block breadcrumb %}
	{{ block.super }}
	{% if is_update_form %}
		<li><a class="active" href="{% url 'wechange-payments:payment' %}">{% trans "Update payment information" context "(PF1a)" %}</a></li>
	{% else %}
		<li><a class="active" href="{% url 'wechange-payments:payment-update' %}">{% trans "Your Contribution" context "(PF1)" %}</a></li>
	{% endif %}
{% endblock %}

{% block content %}
    
    {% comment %} The 'onkeydown' attribute prevents form sending on enter {% endcomment %}
    <form id="payments-form" method="POST" action="{% url "wechange-payments:api-make-subscription-payment" %}" 
    		class="payments-form cosinnus-form form-horizontal large-space" onkeydown="return event.key != 'Enter';">{% csrf_token %}
        
        {% comment %} Flag for updating payments {% endcomment %}
        {% if update_payment %}
			<input type="hidden" name="update_payment" value="{{ update_payment }}" />
        {% endif %}
        
        <div class="busy-animation">
        	<i class="fas fa-spinner fa-spin"></i>
        </div>
        
        <!-- a box with semi transparent background -->
        <div class="v2-content">
		    
		    <div class="tab-content">
		    	
		    	{% comment %}  
		    		Step1 disabled
				<div class="tab-pane" id="step1">
		        	{% include 'wechange_payments/partials/conditional_payment_header.html' %}
					
					<div class="button-section clearfix">
						<a href="{% include 'wechange_payments/partials/url_learn_more.html' %}" class="rounded-button button-color-secondary">
					        <span class="rounded-button-inner">
					            {% trans "Learn more" context "(PF2)" %}
					        </span>
					    </a>
		                <a class="rounded-button button-color-primary-inverted focus-slider-onclick" href="#step2" role="tab" data-toggle="tab">
					        <span class="rounded-button-inner">
								{% trans "Choose Contribution" context "(PF3)" %}
					        </span>
					    </a>
					    
					    
					</div>
				</div>
		    	{% endcomment %}
				
				<div class="tab-pane active" id="step2">
		        	{% include 'wechange_payments/partials/conditional_payment_header.html' with subscription=displayed_subscription %}
					
					<hr/>
					
					{% if displayed_subscription and displayed_subscription.state != 1 %}
						<h3>{% trans "Confirm your monthly Contribution" context "(PF15a)" %}:</h3>
					{% elif displayed_subscription and displayed_subscription.state == 1 %}
						<h3>{% trans "Choose your new monthly Contribution" context "(PF15b)" %}:</h3>
					{% else %}
						<h3>{% trans "Choose your monthly Contribution" context "(PF15)" %}:</h3>
					{% endif %}

        			{% include 'wechange_payments/fields/slider.html' with field_name='amount' %}

        			<div class="large-space">
        				<p>
        					{% blocktrans with vat_amount=SETTINGS.PAYMENTS_INVOICE_PROVIDER_TAX_RATE_PERCENT context "(PF26)" %}Choose the amount you would like to contribute using the slider. The contribution amount includes {{ vat_amount }}% VAT.{% endblocktrans %}
        				</p>
        				<p>
        					{% trans "You may also choose a higher amount by entering it directly in the text box!" context "(PF24x)" %}
        				</p>
        			</div>

                    {% if displayed_subscription and displayed_subscription.state != 1 %}
                        <h3>{% trans "Confirm your debiting period" context "(PF27a)" %}:</h3>
                    {% elif displayed_subscription and displayed_subscription.state == 1 %}
                        <h3>{% trans "Choose your new debiting period" context "(PF27b)" %}:</h3>
                    {% else %}
                        <h3>{% trans "Choose your debiting period" context "(PF27)" %}:</h3>
                    {% endif %}

					{% include 'wechange_payments/fields/period_slider.html' with field_name='debit_period' %}

        			<div class="button-section clearfix">
        				{% comment %}  
        				Gone, because step1 disabled
        				<a class="rounded-button button-color-secondary" href="#step1" role="tab" data-toggle="tab">
					        <span class="rounded-button-inner">
					            &lt; {% trans "I changed my mind" context "(PF16)" %}
					        </span>
					    </a>
        				{% endcomment %}
					    
					    <a href="{% include 'wechange_payments/partials/url_learn_more.html' %}" class="rounded-button button-color-secondary">
					        <span class="rounded-button-inner">
					            {% trans "Learn more" context "(PF2)" %}
					        </span>
					    </a>
		                <a class="pull-right rounded-button button-color-primary-inverted" href="#step3" role="tab" data-toggle="tab">
					        <span class="rounded-button-inner">
					        	{% if displayed_subscription and displayed_subscription.state != 1 %}
					        		{% trans "Confirm Contribution Amount" context "(PF4a)" %}
					        	{% else %}
									{% trans "Set amount of Contribution" context "(PF4)" %}
								{% endif %}
								 &gt;
					        </span>
					    </a>
					    
					    {% if displayed_subscription and SETTINGS.PAYMENTS_TEST_PHASE %}
						    <hr>
						    <a href="{% url 'wechange-payments:debug-delete-subscription' %}">
						    	TESTPHASE ONLY: CLICK HERE TO COMPLETELY REMOVE ALL CURRENT, CANCELED, AND QUEUED SUBSCRIPTIONS
						    </a>
					    {% endif %}
					</div>
				</div>
				
				<div class="tab-pane" id="step3">
					<div class="error-frame alert alert-danger alert-dismissable" style="display: none;">
			            <i class="fa fa-exclamation-triangle fa-3x"></i>
				        <p class="error-message"></p>
				    </div>
					
				    {% if SETTINGS.PAYMENTS_TEST_PHASE %} 
				    	<div class="alert alert-warning alert-dismissable">
				            <i class="fa fa-exclamation fa-3x"></i>
				            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&#215;</button>
					        <p style="">Testphase! Es werden keine echten Zahlungen vorgenommen und alle Transaktionen können gefahrlos getestet werden! Es werden wohlformatierte, aber keine "echten" Zahlungsinformationen benötigt!</p>
					        <p>
					        	<h2>Die folgenden Testdaten können zum Accounts testen benutzt werden:</h2>
					        	<ul>
					        		<li>SEPA: IBAN: DE89370400440532013000, BIC: COBADEFFXXX</li>
					        		<li>Kreditkarte: Nr: 4907639999990022, CCV: 029, beliebiger Name, Datum in der Zukunft</li>
					        		<li>Paypal: Benutzer: paula.penny@example.com, Passwort: paypaltest1</li>
					        	</ul>
					        </p>
					    </div>
				    {% endif %}
				
					<h2>
						{% trans " Almost done! Please enter your account information below." context "(PF5)" %}
					</h2>
		            
					{% trans "Payment Method" as label %}
					{% captureas type_legend %}{% if SETTINGS.PAYMENTS_ACCEPTED_PAYMENT_METHODS|length <= 1 %}{% trans "Payment is currently only possible by SEPA direct debit. We are working on offering PayPal and credit card payments soon!" %}{% endif %}{% endcaptureas %}
					{% captureas select_field_html %}
						<style>
							select:invalid { color: gray; }
						</style>
						<select name="{{ form.payment_type.html_name }}" autocomplete="off" required id="{{ form.payment_type.id_for_label }}">
                            <option value="" disabled selected hidden>- {% trans "Select Payment Method" %} -</option>
                            {% for value, label in form.payment_type.field.choices %}
			                    <option value="{{ value }}">{{ label }}</option>
			                {% endfor %}
                        </select>
					{% endcaptureas %}
					{% include 'cosinnus/fields/default_field.html' with field=form.payment_type label=label legend=type_legend first=True field_html=select_field_html show_required=True field_classes="conditional-select" %}
					
					
		            <div class="conditional-select-container" data-select-name="payment_type" data-select-value="dd">
			            <div class="row">
			                <div class="col-sm-6 regular-space">
								{% trans "IBAN" as label %}
								{% include 'cosinnus/fields/default_field.html' with field=form.iban label=label show_required=True %}
			                </div>
			                <div class="col-sm-6 regular-space">
								{% trans "BIC" as label %}
								{% include 'cosinnus/fields/default_field.html' with field=form.bic label=label show_required=True %}
			                </div>
			            </div><!-- row -->
			            
			            {# email Field #}
						{% trans "Account Holder" as label %}
						{% include 'cosinnus/fields/default_field.html' with field=form.account_holder label=label show_required=True %}
					</div>
		
					<div class="conditional-select-container" data-select-name="payment_type" data-select-value="cc">			
						<hr class="invisible"/>
						<p>{% blocktrans with payment_provider="Better Payment Germany" %}In the next step, you will be redirected to complete the payment process with the payment provider {{ payment_provider }}.{% endblocktrans %}</p>
					</div>
					
					<div class="conditional-select-container" data-select-name="payment_type" data-select-value="paypal">			
						<hr class="invisible"/>
						<p>{% blocktrans with payment_provider="Paypal" %}In the next step, you will be redirected to complete the payment process with the payment provider {{ payment_provider }}.{% endblocktrans %}</p>
					</div>
					
					<hr>
		    		
		    		<h3>{% trans "Billing Address" %}</h3>
		    		
					{% trans "E-Mail" as label %}
					{% include 'cosinnus/fields/default_field.html' with field=form.email label=label show_required=True %}
		    		
		    		<div class="row">
		                <div class="col-sm-6 regular-space">
							{% trans "First name" as label %}
							{% include 'cosinnus/fields/default_field.html' with field=form.first_name label=label show_required=True%}
		                </div>
		                <div class="col-sm-6 regular-space">
							{% trans "Last name" as label %}
							{% include 'cosinnus/fields/default_field.html' with field=form.last_name label=label show_required=True %}
		                </div>
		            </div><!-- row -->
		            
		            {% trans "Payment shall be made on behalf of an organisation" as checkbox_label %}
		            {% include 'cosinnus/fields/checkbox_field.html' with field=form.is_organisation label=None checkbox_label=checkbox_label %}
		            
		            <div id="organisation_frame">
			            {% trans "Organisation" as label %}
			            {% trans "If the contribution is not paid by you as a private individual, but in the name and on behalf of an institution, organisation or company, please enter the name and billing address of the organisation." as org_legend %}
	                    {% include 'cosinnus/fields/default_field.html' with field=form.organisation label=label legend=org_legend show_required=False first=True %}
		            </div>
		            
		            {% comment %} Toggles the Organisation text field on checkbox switch {% endcomment %}
		            <script type="text/javascript">
		                $(function(){
		                    $('#id_is_organisation').change(function(){
		                        $('#organisation_frame .cosinnus-field').toggleClass('disabled', !this.checked);
		                        if (this.checked) {
		                            $('#id_organisation').removeAttr('disabled').attr('required', 'required');
		                        } else {
                                    $('#id_organisation').attr('disabled', 'disabled').removeAttr('required');
		                        }
		                    }).trigger('change');
		                });
		            </script>
		            
		            {% trans "Address" as label %}
					{% include 'cosinnus/fields/default_field.html' with field=form.address label=label show_required=True %}
		        	
		        	<div class="row">
		                <div class="col-sm-6 regular-space">
							{% trans "Postal Code" as label %}
							{% comment %}  
							This is a numeric-only postal code field
							{% captureas postal_code_html %}
								<input type="tel" name="{{ form.postal_code.html_name }}" value="{% if form.postal_code.value %}{{ form.postal_code.value }}{% endif %}" autocomplete="off" required id="{{ form.postal_code.id_for_label }}" pattern="[0-9]*">
							{% endcaptureas %}
							{% include 'cosinnus/fields/default_field.html' with field=form.postal_code field_html=postal_code_html label=label show_required=True %}
							{% endcomment %}
							
							{% include 'cosinnus/fields/default_field.html' with field=form.postal_code label=label show_required=True %}
		                </div>
		                <div class="col-sm-6 regular-space">
							{% trans "City" as label %}
							{% include 'cosinnus/fields/default_field.html' with field=form.city label=label show_required=True %}
		                </div>
		            </div><!-- row -->
		        	
		        	{% trans "Country" as label %}
					{% include 'cosinnus/fields/default_field.html' with field=form.country label=label show_required=True %}
		        	
		        	<hr class="invisible"/>
		        	<div class="large-space">
			        	{% trans "No payment will be made yet. On the following page you will find an overview of your data and can confirm the payment." context "(PF18)" %}
				    </div>
				    
				    <hr class="invisible"/>
					<div class="button-section clearfix">
						<a class="rounded-button button-color-secondary focus-slider-onclick" href="#step2" role="tab" data-toggle="tab">
					        <span class="rounded-button-inner">
					            &lt; {% trans "Modify Contribution Amount" context "(PF8)" %}
					        </span>
					    </a>
					    <a class="pull-right rounded-button button-color-primary-inverted  to-step4-button">
					        <span class="rounded-button-inner">
								{% trans "Confirm data and continue" context "(PF17)" %} &gt;
					        </span>
					    </a>
					    <a class="hidden-step-4-button" href="#step4" role="tab" data-toggle="tab" style="display: none;"></a>
					</div>
				</div>
				
				<div class="tab-pane" id="step4">
				
					<h2>{% trans "Review and Confirm Payment" context "(PF19)" %}</h2>
					
					<div class="payment-summary payment-info-page">
						<div class="large-space">
							<table>
                                <tr>
                                    <td>{% trans "Debiting Amount" %}</td>
                                    <td><b><span data-summary-item="debit_amount"></span> €</b></td>
                                </tr>
			    				<tr>
			    					<td>{% trans "Debiting Period" %}</td>
                                    <td><b><span data-summary-item="debit_period"></span></b></td>
			    				</tr>
			    				<tr>
			    					<td>{% trans "Payment Method" %}</td>
			    					<td>
			    						{% captureas payment_type_html %}
				    						<span data-summary-payment-type="dd">{% trans "Direct Debit (SEPA)" %}</span>
											<span data-summary-payment-type="cc">{% trans "Credit Card" %}</span>
											<span data-summary-payment-type="paypal">{% trans "Paypal" %}</span>
			    						{% endcaptureas %}
			    						{{ payment_type_html }}
			    					</td>
			    				</tr>
			    				<tr data-summary-payment-type="dd">
			    					<td>{% trans "Account Holder" %}</td>
			    					<td><span data-summary-item="account_holder"></span></td>
			    				</tr>
				    			<tr data-summary-payment-type="dd">
			    					<td>{% trans "IBAN" %}</td>
			    					<td><span data-summary-item="iban"></span></td>
			    				</tr>
			    				<tr data-summary-payment-type="dd">
			    					<td>{% trans "BIC" %}</td>
			    					<td><span data-summary-item="bic"></span></td>
			    				</tr>
				    		</table>
							
							<h4>{% trans "Billing Address" %}</h4>
				    		<table>
				    			<tr>
			    					<td>{% trans "Name" %}</td>
			    					<td><span data-summary-item="first_name"></span> <span data-summary-item="last_name"></span></td>
			    				</tr>
			    				<tr>
			    					<td>{% trans "Address" %}</td>
			    					<td><span data-summary-item="address"></span></td>
			    				</tr>
			    				<tr>
			    					<td>{% trans "Postal Code" %}</td>
			    					<td><span data-summary-item="postal_code"></span></td>
			    				</tr>
			    				<tr>
			    					<td>{% trans "City" %}</td>
			    					<td><span data-summary-item="city"></span></td>
			    				</tr>
			    				<tr>
			    					<td>{% trans "Country" %}</td>
			    					<td><span data-summary-item="country"></span></td>
			    				</tr>
				    		</table>
						</div>
						
						{% trans "Confirm and pay" context "(PF9 - legally binding!)" as confirm_and_pay_button_text %}
						
						<p>
							{% blocktrans with amount='<span data-summary-item="debit_amount"></span>' debit_period='<span data-summary-item="debit_period"></span>' vat_amount=SETTINGS.PAYMENTS_INVOICE_PROVIDER_TAX_RATE_PERCENT payment_method=payment_type_html confirm_and_pay_button_text=confirm_and_pay_button_text context "(PF7)" %}By clicking on "{{ confirm_and_pay_button_text }}" you grant Wechange eG permission to debit {{ amount }} Euro {{ debit_period }} (incl. {{ vat_amount }}% VAT) from you via {{ payment_method }}.{% endblocktrans %}
							{% blocktrans with vat_amount=SETTINGS.PAYMENTS_INVOICE_PROVIDER_TAX_RATE_PERCENT context "(PF7a)" %}This is not a donation, but a voluntary payment for an electronic service. The chosen contribution is the gross amount incl. {{ vat_amount }}% VAT, which is shown on the invoice.{% endblocktrans %}
							<br/><br/>
							{% if displayed_subscription and displayed_subscription.next_due_date %}
								{% if displayed_subscription.state == 1 %}
									{% trans "The next debit using your new payment information will be made immediately." context "(PF20a)" %}
								{% else %}
									{% trans "The next debit will be made immediately." context "(PF20)" %}
								{% endif %}
								{% blocktrans with date=displayed_subscription.get_due_date_after_next|localize debit_period='<span data-summary-item="debit_period"></span>' context "(PF21)" %}Your {{ debit_period }} payments will resume on {{ date }}, after your old Contribution would have been due.{% endblocktrans %}
							{% else %}
								{% trans "The next debit will be made immediately." context "(PF20)" %}
							{% endif %}
							{% trans 'You can adjust the amount and debiting period of your contribution or terminate payments at any time by clicking “Your Contribution” in your user menu.' context "(PF22)" %}
						</p>
						
						{% blocktrans with portal_name=COSINNUS_CURRENT_PORTAL.name context "(PF23)" %}Thank you for supporting {{ portal_name }}!{% endblocktrans %}
					</div>
					
					<div data-only-required-step="#step4">
			        	{% include 'cosinnus/registration/extra_signup_fields.html' with show_plain_form=True %}
				    </div>
				    
				    <div class="button-section clearfix">
						<a class="rounded-button button-color-secondary focus-slider-onclick" href="#step3" role="tab" data-toggle="tab">
					        <span class="rounded-button-inner">
					            &lt; {% trans "Change payment information" context "(PF25)" %}
					        </span>
					    </a>
					    <button type="submit" class="pull-right rounded-button button-color-primary-inverted">
					        <span class="rounded-button-inner">
								{{ confirm_and_pay_button_text }}
					        </span>
					    </button>		
					
					</div>
				</div>
				
			</div>
		    
		    
        	
        	
        </div>
        
        
    </form>
    
    
    
{% endblock %}

