{% extends "wechange_payments/base.html" %}
{% load l10n i18n cosinnus_tags static widget_tweaks %}

{% block extrahead %}
	{{ block.super }}
	
	{% localize off %}
	<script type="text/javascript">
		var PAYMENTS_MINIMUM_PAYMENT_AMOUNT = {{ SETTINGS.PAYMENTS_MINIMUM_PAYMENT_AMOUNT }};
		var PAYMENTS_MAXIMUM_PAYMENT_AMOUNT = {{ SETTINGS.PAYMENTS_MAXIMUM_PAYMENT_AMOUNT }};
		var PAYMENTS_DEFAULT_PAYMENT_AMOUNT = {{ SETTINGS.PAYMENTS_DEFAULT_PAYMENT_AMOUNT }};
	</script>
	{% endlocalize %}
	
	<script src="{% static "js/vendor/jquery-ui.slider.min.js" %}"></script>
	<script src="{% static "js/slider.js" %}"></script>
	<script src="{% static "js/payments.js" %}"></script>
{% endblock %}


{% block page_title %}{% trans "Payments" %}{% endblock %}

{% block leftnav %}
	{% include 'wechange_payments/leftnav.html' %}
{% endblock leftnav %}

{% block breadcrumb %}
	{{ block.super }}
	<li><a class="active" href="{% url 'wechange-payments:payment' %}">{% trans "Payments" %}</a></li>
{% endblock %}

{% block content %}
    
    {% comment %} The 'onkeydown' attribute prevents form sending on enter {% endcomment %}
    <form method="POST" action="{% url "wechange-payments:api-make-subscription-payment" %}" 
    		class="payments-form cosinnus-form form-horizontal large-space" onkeydown="return event.key != 'Enter';">{% csrf_token %}
        
        <!-- a box with semi transparent background -->
        <div class="content-box">
	        <div class="error-frame alert alert-danger alert-dismissable" style="display: none;">
	            <i class="fa fa-exclamation-triangle fa-3x"></i>
		        <p class="error-message"></p>
		    </div>
		    
		    
        	{% include 'wechange_payments/fields/slider.html' with field_name='amount' %}
        	
        	<hr>
        	
        	{% if current_subscription %}
        		{% comment %} 
        			This can only be a cancelled subscription, because with an active subscription
        			this page would redirect.
        		{% endcomment %}
        		<h1>
        			{% trans "(TBD)Your subscription will end soon!" %}  
					(<span class="moment-data-date" data-date="{{ current_subscription.next_due_date|date:'c' }}"></span>)
				</h1>
        	{% endif %}
        	
            <h3>{% trans "Payment Info" %}</h3>
            
			{% trans "Payment Type" as label %}
			{% include 'cosinnus/fields/default_field.html' with field=form.payment_type label=label show_required=True field_classes="conditional-select" %}
			
            <div class="conditional-select-container" data-select-name="payment_type" data-select-value="dd">
	            <div class="row">
	                <div class="col-sm-6 regular-space">
						{% trans "IBAN" as label %}
						{% include 'cosinnus/fields/default_field.html' with field=form.iban label=label show_required=True %}
	                </div>
	                <div class="col-sm-6 regular-space">
						{% trans "BIC" as label %}
						{% include 'cosinnus/fields/default_field.html' with field=form.bic label=label show_required=True %}
	                </div>
	            </div><!-- row -->
	            
	            {# email Field #}
				{% trans "Account Holder" as label %}
				{% include 'cosinnus/fields/default_field.html' with field=form.account_holder label=label show_required=True %}
			</div>

			<div class="conditional-select-container" data-select-name="payment_type" data-select-value="cc">			
				<p>This is the credit card form!</p>
			</div>
			                
			                
			<hr>
    		
    		<h3>{% trans "Billing Address" %}</h3>
    		
			{% trans "E-Mail" as label %}
			{% include 'cosinnus/fields/default_field.html' with field=form.email label=label show_required=True %}
    		
    		<div class="row">
                <div class="col-sm-6 regular-space">
					{% trans "First name" as label %}
					{% include 'cosinnus/fields/default_field.html' with field=form.first_name label=label show_required=True%}
                </div>
                <div class="col-sm-6 regular-space">
					{% trans "Last name" as label %}
					{% include 'cosinnus/fields/default_field.html' with field=form.last_name label=label show_required=True %}
                </div>
            </div><!-- row -->
            
            {% trans "Address" as label %}
			{% include 'cosinnus/fields/default_field.html' with field=form.address label=label show_required=True %}
        	
        	<div class="row">
                <div class="col-sm-6 regular-space">
					{% trans "Postal Code" as label %}
					{% include 'cosinnus/fields/default_field.html' with field=form.postal_code label=label show_required=True%}
                </div>
                <div class="col-sm-6 regular-space">
					{% trans "City" as label %}
					{% include 'cosinnus/fields/default_field.html' with field=form.city label=label show_required=True %}
                </div>
            </div><!-- row -->
        	
        	{% trans "Country" as label %}
			{% include 'cosinnus/fields/default_field.html' with field=form.country label=label show_required=True %}
        	
        	<div class="large-space"></div>
        	
            <p class="inline-list transparent">
		        <span class="cursor-pointer-input inline-list-input">
		            {% render_field form.tos_accept %}
		        </span>
		        <span class="cursor-pointer-input" onclick="$('#{{ form.tos_accept.id_for_label }}').prop('checked', !($('#{{ form.tos_accept.id_for_label }}').prop('checked'))).trigger('change');">
		            {% trans "(TBD!!!) I accept the TOS and privacy policy and electronic processing of my data " %}
		            *
		        </span>
		    </p>
        	
        </div>
        
        
        <button type="submit" class="btn btn-emphasized">
	        <ul class="media-list">
	            <li class="media">
	                <a class="pull-left" href="#">
	                    <i class="fa fa-pencil"></i>
	                </a>
	                <div class="media-body">
	                      {% trans "Ok" %}
	                </div>
	            </li>
	        </ul>
	    </button>
    </form>
    
    
{% endblock %}

