{% load i18n cosinnus_tags %}

{% with random="01234567"|make_list|random %}

	{% if payment_popup_times_closed_before > 0 or request.GET.popup_type == 'repeat' %}
		{% comment %} Default, long running, monthly reappearing version {% endcomment %}
		
		{% if random == "0" %}
			{% trans "The early bird catches the worm!" context "(POP1-repeat-rnd1)" as title %}
		{% elif random == "1" %}
			{% trans "Does not hurt, but does good for many" context "(POP1-repeat-rnd2)" as title %}
		{% elif random == "2" %}
			{% trans "Many pennies make a dollar" context "(POP1-repeat-rnd3)" as title %}
		{% elif random == "3" %}
			{% trans "With small steps to big goals" context "(POP1-repeat-rnd4)" as title %}
		{% elif random == "4" %}
			{% trans "Come, be among the ones who pay!" context "(POP1-repeat-rnd5)" as title %}
		{% elif random == "5" %}
			{% trans "How much are we worth to you?" context "(POP1-repeat-rnd6)" as title %}
		{% elif random == "6" %}
			{% trans "So that WECHANGE can be more than the sum of its parts" context "(POP1-repeat-rnd7)" as title %}
		{% else %}
			{% trans "Change happens on a small scale" context "(POP1-repeat-rnd8)" as title %}
		{% endif %}
		{% captureas body %}
			<p>
				{% blocktrans with username=user.first_name context "(POP2-repeat)" %}Dear {{ username }},{% endblocktrans %}
			</p>
			<p>
				{% captureas join_time_verbal %}<span class="moment-data-date" data-date="{{ user.date_joined|date:'c' }}"></span>{% endcaptureas %}
				{% captureas pop_text%}{% blocktrans with join_time_verbal=join_time_verbal context "(POP3-repeat)" %}you joined us at WECHANGE {{ join_time_verbal }} - we are very happy about that! 

Please remember: WECHANGE is only free of charge because enough users* contribute voluntarily. With an average of 5 Euro per month, we can cover the costs of hosting the platform. Every small contribution helps!{% endblocktrans %}{% endcaptureas %}
				{{ pop_text|linebreaksbr }}
			</p>
			<hr class="invisible" />
		{% endcaptureas %}
	{% elif payment_popup_user_registered_after_payments or request.GET.popup_type == 'newuser' %}
		{% comment %} Newly registered user, 5-day or so delayed version {% endcomment %}
		
		{% trans "Your contribution helps!" context "(POP1-newuser)" as title %}
		{% captureas body %}
			<p>
				{% blocktrans with username=user.first_name context "(POP2-newuser)" %}Dear {{ username }},{% endblocktrans %}
			</p>
			<p>
                {% captureas pop_text %}{% blocktrans with portal_name=COSINNUS_CURRENT_PORTAL.name context "(POP3-newuser)" %}it's great to have you WECHANGE! We hope you like our platform and that you and your projects can benefit.

We try to optimally fullfill your needs and the demands of the community and to develop the platform. This causes high costs - for hosting, maintenance, support and the development of new functions. In order to ensure the maintenance, we rely on voluntary contributions from our users.

With every Euro you spend, you help us to make WECHANGE better. With an average of 5 Euros per month, we can cover the costs of hosting the platform, everything above contributes directly to further development. If you can contribute less or nothing at all, we're sure you have good reasons. But please remember: This is only possible because other users support you!
{% endblocktrans %}{% endcaptureas %}
                {{ pop_text|linebreaksbr }}
			</p>
			<hr class="invisible" />
		{% endcaptureas %}
	{% else %}
		{% comment %} Old user (registered before payments were introduced) one-time shown version {% endcomment %}
		
		{% trans "WECHANGE becomes even fairer." context "(POP1-release)" as title %}
		{% captureas body %}
			<p>
				{% blocktrans with username=user.first_name context "(POP2-release)" %}Dear {{ username }},{% endblocktrans %}
			</p>
			<p>
			    {% captureas pop_text %}{% blocktrans with portal_name=COSINNUS_CURRENT_PORTAL.name context "(POP3-release)" %}we consider WECHANGE a common good: Therefore we decided that, from now on, you will be able to open new groups and use all group functions with your teams, for free!

Correspondingly, we invite you to pay for the use of WECHANGE whatever feels right. Even with a very small contribution, you help us making WECHANGE better. With an average of 5 Euros per month you enable us to cover the costs of hosting the platform. Beyond that your share is dedicated to further development.{% endblocktrans %}{% endcaptureas %}

				{{ pop_text|linebreaksbr }}
			</p>
			<p>
			    <b>{% trans "Choose your voluntary contribution to WECHANGE now. We count on you!" context "(POP4-release)" %}</b>
			</p>
			<hr class="invisible" />
		{% endcaptureas %}
	{% endif %}
	
		{% comment %}  
		Inspirational quote is out for now	
		
		<p>
			<b>{% trans "'inspirational quote'" context "(POP4a)" %}</b>
			<br/>
			{% trans "quote credit" context "(POP4b)" %}</b>
			
		</p>
		{% endcomment %}
	
	{% captureas buttons %}
	    {% if SETTINGS.PAYMENTS_POPUP_SHOW_NO_THANKS_BUTTON %}
	        <a class="rounded-button button-color-secondary" onclick="$('#payments_popup button.close').click();">
                <span class="rounded-button-inner">
                    {% trans "Not now" context "(POP7)" %}
                </span>
            </a>
	    {% else %}
	        {% comment %} This button appears twice in the code because the pull-right order is reversed {% endcomment %}
	        <a href="{% include 'wechange_payments/partials/url_learn_more.html' %}" class="rounded-button button-color-secondary">
	            <span class="rounded-button-inner">
	                {% trans "Learn more" context "(POP5)" %}
	            </span>
	        </a>
	    {% endif %}
		
	    <a href="{% url 'wechange-payments:overview' %}" class="rounded-button button-color-primary-inverted {% if SETTINGS.PAYMENTS_POPUP_SHOW_NO_THANKS_BUTTON %}pull-right{% endif %}">
	        <span class="rounded-button-inner">
	        	{% if payment_popup_times_closed_before > 0 or request.GET.popup_type == 'repeat' %}
	        		{% trans "Ok, choose amount now" context "(POP6-repeat)" %}
	        	{% else %}
	            	{% trans "Choose amount" context "(POP6)" %}
	            {% endif %}
	        </span>
	    </a>
	    {% if SETTINGS.PAYMENTS_POPUP_SHOW_NO_THANKS_BUTTON %}
            {% comment %} This button appears twice in the code because the pull-right order is reversed {% endcomment %}
            <a href="{% include 'wechange_payments/partials/url_learn_more.html' %}" class="rounded-button button-color-secondary pull-right">
                <span class="rounded-button-inner">
                    {% trans "Learn more" context "(POP5)" %}
                </span>
            </a>
        {% endif %}
	{% endcaptureas %}
	
	{% include "cosinnus/v2/elements/modal_box.html" with id="payments_popup" title=title body=body buttons=buttons %}

{% endwith %}

<script type="text/javascript">
	$('#payments_popup button.close').on('click', function(){
		$.ajax({url: '{% url "wechange-payments:api-snooze-popup" %}', type: 'POST'});
	});
    $('#payments_popup').modal('show');
</script>
