{% extends "wechange_payments/base.html" %}
{% load l10n i18n cosinnus_tags static widget_tweaks %}

{% block extrahead %}
	{{ block.super }}
{% endblock %}


{% block page_title %}{% trans "Payment Success" %}{% endblock %}

{% block leftnav %}
	{% include 'wechange_payments/leftnav.html' %}
{% endblock leftnav %}

{% block breadcrumb %}
	{{ block.super }}
	<li><a class="active" href="{% url 'wechange-payments:payment' %}">{% trans "Payments" %}</a></li>
{% endblock %}

{% block content %}
    
    {% if request.GET.subscription_error %}
        <div class="error-frame alert alert-danger alert-dismissable">
            <i class="fa fa-exclamation-triangle fa-3x"></i>
	        <p class="error-message">
	        	{% trans "Your payment was processed successfully, but your subscription could not be activated due to an internal server error." %}
	        </p>
			<p>	        	
				{% trans "Please contact the support. Don't worry, we will sort everything out! In the meantime, please do not make any additional payments! Please excuse the inconveniences!" %}
			</p>
			<p>	        	
	        	{% if COSINNUS_CURRENT_PORTAL.support_email %}
	        		<a href="mailto:{{ COSINNUS_CURRENT_PORTAL.support_email }}">{{ COSINNUS_CURRENT_PORTAL.support_email }}</a>
	        	{% endif %}
	        </p>
	    </div>
    {% endif %}
    
    <!-- a box with semi transparent background -->
    <div class="main-content">
		<h1>{% trans "(TBD) Thank you for subscribing!" %}</h1>
		
		<p>
			{% trans "(TBD) Thank you text" %}
		</p>
		
		{% if payment.type == 0 %}
			<hr/>
			<h3>{% trans "Your SEPA Mandate" %}</h3>
			
			{% captureas embedded %}{% include 'wechange_payments/mail/sepa_payment_success.html' with payment=payment %}{% endcaptureas %}
			<code>{{ embedded|linebreaksbr }}
			</code>
		{% endif %}
		
		{% if not request.GET.subscription_error %}
		    <div class="button-section clearfix">
	            <a href="{% url "wechange-payments:overview" %}" class="pull-right rounded-button button-color-primary-inverted">
			        <span class="rounded-button-inner">
	                    {% trans "View your subscription" %}
			        </span>
			    </a>
			</div>
	    {% endif %}
    
	</div>    
    
{% endblock %}

