{% extends "wechange_payments/base.html" %}
{% load l10n i18n cosinnus_tags static widget_tweaks %}

{% block page_title %}{% trans "(INF1) Payment Information" %}{% endblock %}

{% block leftnav %}
	{% include 'wechange_payments/leftnav.html' %}
{% endblock leftnav %}

{% block breadcrumb %}
	{{ block.super }}
	<li><a class="active" href="{% url 'wechange-payments:payment-infos' %}">{% trans "(INF1) Payment Information" %}</a></li>
{% endblock %}

{% block content %}
    
    <!-- a box with semi transparent background -->
    <div class="v2-content white-content payment-info-page">
		<h2>{% trans "(INF17) Your Contribution" %}</h2>
    	<div class="large-space">
    		<table>
				<tr>
					<td>{% trans "(INF10) Last Payment" %}</td>
					<td>
						{% if last_payment.status < 3 %}
							{% blocktrans with date=last_payment.last_action_at.date|localize %}(INF15) Processing. Started at {{ date }}.{% endblocktrans %}
						{% elif last_payment.status > 3 %}
							{% blocktrans with date=last_payment.last_action_at.date|localize %}(INF16) Attempted at {{ date }}, but not completed.{% endblocktrans %}
						{% else %}
							{{ last_payment.completed_at.date|localize }}
						{% endif %}
					</td>
				</tr>
				<tr>
					<td>{% trans "(INF11) Amount" %}</td>
					<td>{{ last_payment.amount|intify }} €</td>
				</tr>
			</table>
		</div>
		<div class="regular-space">
			{% trans "(INF13) All information about your past payments can be found in the invoice overview" %}:
		</div>
		<div>
    		<a href="{% url "wechange-payments:invoices" %}" class="rounded-button button-color-secondary">
		        <span class="rounded-button-inner">
					{% trans "(INF14) Show Invoice overview" %}
		        </span>
		    </a>
		</div>
		<hr class="invisible" />
		
		{% if subscription.state >= 2 %}
		<div class="large-space">
    		<table>
				<tr>
					<td>{% trans "(INF2) Contribution Status" %}</td>
					<td>
						{% if subscription.state == 3 %}
							{% trans "(INF3) Will become active after your last Contribution expires." context "subscription status" %}
						{% elif subscription.state == 2 %}
							{% trans "(INF4) Active since" context "subscription status" %}
							{{ subscription.created.date|localize }}
						{% elif subscription.state == 1 %}
							{% comment %} If a newer subscription with state 3 exists, this case won't be shown {% endcomment %}
							{% trans "(INF5) Cancelled" context "subscription status" %}.
							{% trans "Expires" %}: 
							{{ subscription.next_due_date|localize }}
						{% endif %}
					</td>
				</tr>
				<tr>
					<td>{% trans "(INF7) Next payment scheduled" %}</td>
					<td>
						{{ subscription.next_due_date|localize }}
					</td>
				</tr>
				<tr>
					<td>{% trans "(INF6) Current monthly contribution" %}</td>
					<td>
						<span>{{ subscription.amount|intify }} €</span>
					</td>
				</tr>
			</table>
		</div>
		<div>
    		<a href="{% url "wechange-payments:payment" %}" class="rounded-button button-color-secondary">
		        <span class="rounded-button-inner">
					{% trans "(INF8.1) Adjust contribution amount or cancel your Contribution" %}
		        </span>
		    </a>
		</div>
		
		{% endif %}
		
		<hr class=""></hr>
		<hr class="invisible"></hr>
		
		<h2>{% trans "(INF1) Your Payment Information" %}</h2>
    	<div class="large-space">
    		{% with payment=subscription.reference_payment %}
    			<table>
    				<tr>
    					<td>{% trans "Payment Type" %}</td>
    					<td>{{ payment.get_type_string }}</td>
    				</tr>
	    			{% if payment.type == 'dd' %}
    				<tr>
    					<td>{% trans "Account Holder" %}</td>
    					<td>{{ payment.extra_data.account_holder }}</td>
    				</tr>
	    			<tr>
    					<td>{% trans "IBAN" %}</td>
    					<td>{{ payment.extra_data.iban }}</td>
    				</tr>
	    			{% endif %}
	    		</table>
	    		
	    		<h4>{% trans "Billing Address" %}</h4>
	    		<table>
	    			<tr>
    					<td>{% trans "Name" %}</td>
    					<td>{{ payment.first_name }} {{ payment.last_name }}</td>
    				</tr>
    				<tr>
    					<td>{% trans "Address" %}</td>
    					<td>{{ payment.address }}</td>
    				</tr>
    				<tr>
    					<td>{% trans "Postal Code" %}</td>
    					<td>{{ payment.postal_code|stringformat:"05d" }}</td>
    				</tr>
    				<tr>
    					<td>{% trans "City" %}</td>
    					<td>{{ payment.city }}</td>
    				</tr>
    				<tr>
    					<td>{% trans "Country" %}</td>
    					<td>{{ payment.country }}</td>
    				</tr>
	    		</table>
    		{% endwith %}
    	</div>
    	
    	{% if subscription.state != 1 %}
	    	<div>
	    		<a href="{% url "wechange-payments:payment-update" %}" class="rounded-button button-color-secondary">
			        <span class="rounded-button-inner">
						{% trans "(TS9) Change payment information" %}
			        </span>
			    </a>
			</div>
		{% endif %}
		
		{% comment %}  
			Popup explaining payment information
			
			{% captureas content %}
		        <p>
		        	{% trans "(INF8) To change your payment method or billing address, please cancel the current Contribution and set up a new one!" %}
		        </p>
		        <p>
					{% trans "You will only be billed after the current Contribution expires." %} 
		        </p>
			{% endcaptureas %}
			{% captureas custom_button_html %}
				<button type="button" class="submit-btn-x btn btn-emphasized" href="{% if subscription.state == 1 %}{% url "wechange-payments:payment" %}{% else %}{% url "wechange-payments:cancel-subscription" %}{% endif %}">
                    <ul class="media-list">
                        <li class="media">
                            <a class="pull-left" href="#">
                                <i class="fa fa-check"></i>
                            </a>
                            <div class="media-body">
                                {% trans "OK" %}
                            </div>
                        </li>
                    </ul>
                </button>
                <button type="button" class="btn btn-emphasized" data-dismiss="modal">
                    <ul class="media-list">
                        <li class="media">
                            <a class="pull-left" href="#">
                                <i class="fa fa-times"></i>
                            </a>
                            <div class="media-body">
                                {% trans "Cancel" %}
                            </div>
                        </li>
                    </ul>
                </button>
			{% endcaptureas %}
            {% trans "(INF1.1) Change payment information" as title %}
		    {% include "cosinnus/modal_box.html" with id="changePaymentInfoModal" label=content title=title title_icon="fa-credit-card" hide_submit_button=True custom_button_html=custom_button_html %}
		    
			<a class="rounded-button button-color-secondary" href="#" data-toggle="modal" data-target="#changePaymentInfoModal">
		        <span class="rounded-button-inner">
		            {% trans "(INF1.1) Change payment informationx" %}
		        </span>
		    </a>
		
		{% endcomment %}

    	{% comment %}  
    		"Back to PORTAL" and "print as pdf" section, todo later! 
    	
    	<hr/>
    	<div>
    		<a href="{% get_non_cms_root_url %}" class="rounded-button button-color-primary-inverted">
		        <span class="rounded-button-inner">
                    {% blocktrans with portal_name=COSINNUS_CURRENT_PORTAL.name %}(SC8) Back to {{ portal_name }}{% endblocktrans %}
                    TODO: raus!
		        </span>
		    </a>
		    <a class="pull-right rounded-button button-color-secondary" href="{% url "wechange-payments:payment" %}">
		        <span class="rounded-button-inner">
		            {% trans "(INF19) Print this page or save as PDF" %} (TODO!)
		            TODO: als icon
		        </span>
		    </a>
    	</div>
    	{% endcomment %}
    	
    	
    	
    </div>
        
    
{% endblock %}

