{% extends "cosinnus/base.html" %}
{% load i18n static cosinnus_tags %}

{% block page_title %}
    {% trans "Support us " context "(WC1)" %}
{% endblock page_title %}

{% block main_page %}
    
    {% include 'cosinnus/messages.html' %}
    
    
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="no-select" >
                    {% trans "Your Contribution" context "(WC2)" %}
                </h4>
            </div>
            
            <div class="modal-body">
                <p class="no-horizontal-padding no-vertical-padding large-space">
		            {% trans "WECHANGE is based on a solidary pricing model: You pay a voluntary monthly contribution and thus enable us to continuously develop the platform. Would you like to contribute something? Of course you can also have a look around first." context "(WC3)" %}
		        </p>
            </div>
            <div class="modal-footer">
                <a href="{% include 'wechange_payments/partials/url_learn_more.html' %}" class="rounded-button button-color-secondary">
			        <span class="rounded-button-inner">
			            {% trans "Learn more" context "(WC4)" %}
			        </span>
			    </a>
                <a href="{% url 'wechange-payments:overview' %}" class="rounded-button button-color-primary-inverted">
			        <span class="rounded-button-inner">
			            {% trans "Choose amount" context "(WC5)" %}
			        </span>
			    </a>
			    <a href="{{ next_url }}" class="pull-left rounded-button button-color-tertiary">
			        <span class="rounded-button-inner">
                		{% trans "Remind me later" context "(WC6)" %}
			        </span>
			    </a>
            </div>
        </div>
    </div>
    
{% endblock main_page %}

