{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
    {% with subscription=original.subscription invoice=original.invoice %}
        <li>
            <a href="#" style="font-size:1.3em; font-weight: bold;">
                {% trans "Related to" %}
            </a>
        </li>
        <li>
            <a href="{% url 'admin:auth_user_change' object_id=original.user.id %}">
                <i class="icon-eye-open icon-alpha75"></i>
                {% trans "User" %}: {{ original.user.get_full_name }}
            </a>
        </li>
        {% if subscription %}
            <li>
                <a href="{{ subscription.get_admin_change_url }}">
                    <i class="icon-eye-open icon-alpha75"></i>
                    {% trans "Subscription" %}: {{ subscription.id }}
                </a>
            </li>
        {% endif %}
        {% if invoice %}
            <li>
                <a href="{{ invoice.get_admin_change_url }}">
                    <i class="icon-eye-open icon-alpha75"></i>
                    {% trans "Invoice" %}: {{ invoice.id }}  ({{ invoice.created|date:"d.m.Y" }})
                </a>
            </li>
        {% endif %}
    {% endwith %}
    {{ block.super }}
{% endblock %}