{% extends "wechange_payments/base.html" %}
{% load i18n %}

{% block page_title %}{% trans "Your Invoices" %}{% endblock %}

{% block leftnav %}
	{% include 'wechange_payments/leftnav.html' %}
{% endblock leftnav %}

{% block breadcrumb %}
	{{ block.super }}
	<li><a class="active" href="{% url 'wechange-payments:invoices' %}">{% trans "Your Invoices" %}</a></li>
{% endblock %}

{% block content %}
    
    <!-- a box with semi transparent background -->
    <div class="v2-content app-main">
    	<h1>{% trans "Invoices" %}</h1>
    	
    	{% for invoice in invoices %}
    		{% include 'wechange_payments/invoices/invoice_list_item.html' with object=invoice %}
    	{% endfor %}
    </div>
    
{% endblock %}

