@import "payments_variables";
@import "extra_variables";
@import "slider";

.payments-form {
	position: relative;
	
	.busy-animation {
		display: none;
		height: 60px;
		width: 60px;
		position: fixed;
		left: 50%;
		margin-left: -50px;
		top: 50%;
		margin-top: -50px;
		font-size: 60px;
		color: #333;
		opacity: 1.0;
		z-index: 1;
	}
	
	&.disabled {
		opacity: 0.65;
		
		.busy-animation {
			display: inherit;
		}
	}
	p.inline-list {
		padding: 0;
	}
	.field-error-message {
		color: red;
	}
	.small {
		font-size: 12px;
	}
	.tiny {
		font-size: 10px;
	}
}

.v2-content {
	.cosinnus-field {
		.cosinnus-field-input {
			input, select {
				border: 1px solid @slider-background-color;
				background-color: @amount-background-color;
			}
		}
	}
}

.payment-info-page {
	
	table {
		
		width: 100%;
		
		td:first-child {
			width: 40%;
			font-weight: bold;
			vertical-align: top;
		}
		td:last-child {
			width: 60%;
		}
	}
}