@import "slider";

.payments-form {
	position: relative;
	
	.busy-animation {
		display: none;
		height: 60px;
		width: 60px;
		position: fixed;
		left: 50%;
		margin-left: -50px;
		top: 50%;
		margin-top: -50px;
		font-size: 60px;
		color: #333;
		opacity: 1.0;
		z-index: 1;
	}
	
	&.disabled {
		opacity: 0.65;
		
		.busy-animation {
			display: inherit;
		}
	}
	p.inline-list {
		padding: 0;
	}
	.field-error-message {
		color: red;
	}
} 

.payment-info-page {
	
	table {
		
		width: 100%;
		
		td:first-child {
			width: 30%;
			font-weight: bold;
		}
		td:last-child {
			width: 70%;
		}
	}
}