@slider-main-color: @payments-main-color;
@slider-handle-color: @payments-secondary-color;
@slider-background-color: #aaaaaa;
@frame-background-color: #fff;
@amount-background-color: #f8f8f8;

.slider-container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	padding: 30px 0;
	background-color: @frame-background-color;
  	
  	.value-frame {
  		width: 100%;
  		display: flex;
  		flex-direction: row;
  		white-space: nowrap;
  		margin-bottom: 14px;
  		color: #333;
  		
  		.side-amount {
  			font-weight: bold;
  			line-height: 42px;
  		}
		.amount-container {
	  		flex-grow: 2;
			text-align: center;
			
		  	.amount-frame {
		  		display: inline-block;
		  		border: 1px solid @slider-background-color;
		  		background-color: @amount-background-color;
		  	}
		  	.amount-frame, .amount-currency, .period-value {
		  		color: @slider-main-color;
				font-size: 20px;
				font-weight: bold;
		  	}
		}  		
  	}
  	
	input {
		width: 48px;
		border: none;
		background: none;
		color: @slider-main-color;
		text-align: center;
		font-size: 20px;
		outline: none;
		
		&.missing {
           	background-color: #ffcccc;
		}
	}
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	    -webkit-appearance: none;
	    margin: 0;
	}
	input[type=number] {
	    -moz-appearance:textfield; 
	}
	
	.slider-row {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	
	.slider-col {
		flex: 0 1 83%;
		min-width: 0;
	}
	
	.text-center {
		text-align: center;
	}
	
	.ui-slider {
		position: relative;
		text-align: left;
		border-radius: 10px;
		color: @slider-main-color;
		
		/** saves the background-color */
		.background {
			display: none;		
			background-color: @slider-background-color;
		}
		
		.ui-slider-handle {
			position: absolute;
			z-index: 2;
			width: 22px;
			height: 22px;
			cursor: pointer;
			-ms-touch-action: none;
			touch-action: none;
			
			background: @slider-handle-color;
			border: 1px solid #FFF;
			border-radius: 50%;
			
			&:focus {
				outline: none;
			}
		}
		.ui-slider-range {
			position: absolute;
			z-index: 1;
			font-size: .7em;
			display: block;
			border: 0;
			background-position: 0 0;
		}
	}
	
	/* support: IE8 - See #6727 */
	.ui-slider.ui-state-disabled .ui-slider-handle,
	.ui-slider.ui-state-disabled .ui-slider-range {
		filter: inherit;
	}
	
	.ui-slider-horizontal {
		height: 10px;
		
		.ui-slider-handle {
			top: -6px;
			margin-left: -10px;
		}
		.ui-slider-range {
			top: 0;
			height: 100%;
		}
		.ui-slider-range-min {
			left: 0;
		}
		.ui-slider-range-max {
			right: 0;
		}
	}
	
	.ui-slider-vertical {
		width: 0.8em;
		height: 100px;
		
		.ui-slider-handle {
			left: -0.3em;
			margin-left: 0;
			margin-bottom: -0.6em;
		}
		.ui-slider-range {
			left: 0;
			width: 100%;
		}
		.ui-slider-range-min {
			bottom: 0;
		}
		.ui-slider-range-max {
			top: 0;
		}
	}
	.ui-sortable-handle {
		-ms-touch-action: none;
		touch-action: none;
	}
	
	.donation-outcome {
		display: none;
		margin: 20px auto;
		color: @slider-main-color;
		font-weight: bold;
	}
	
	.under-40 {
		display: block;
	}

	.period-range {
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		white-space: nowrap;
		margin-top: 14px;
		color: #333;

		.period-label {
			font-weight: bold;
			line-height: 42px;
		}
	}
}
