{% load i18n cosinnus_tags %}

<div class="slider-container">
    <div class="slider-row">
        <div class="slider-col text-center payment-slider">
                
            <div class="">
            	<div class="value-frame">
            		<div class="side-amount">
            			{{ SETTINGS.PAYMENTS_MINIMUM_PAYMENT_AMOUNT|floatformat }} €
        			</div>
            		<div class="amount-container">
	            		<div class="amount-frame" title="{% blocktrans with max_amount=SETTINGS.PAYMENTS_MAXIMUM_PAYMENT_AMOUNT|intify %}You can contribute any amount up to {{ max_amount }} by entering it here. For larger contributions, please contact our support!{% endblocktrans %}">
	                		<input id="value" type="number" name="{{ field_name }}" 
	                		min="{{ SETTINGS.PAYMENTS_MINIMUM_PAYMENT_AMOUNT|floatformat }}" 
	                		max="{% widthratio SETTINGS.PAYMENTS_MAXIMUM_PAYMENT_AMOUNT 1 5 %}"
	                		pattern="^[0–9]$"></input>€
	                		{% comment %} Allow 5x as much as the maximum slider amount to be entered in the number box {% endcomment %}
	                	</div>
	                </div>
                	<div class="side-amount">
                		{{ SETTINGS.PAYMENTS_MAXIMUM_PAYMENT_AMOUNT|floatformat }} €
                	</div>
                </div>
                <div id="slider">
                	<div class="background"></div>
                </div>
            </div>
            
            
            <div class="donation-outcome low-amount">
                {% trans "(SLD1) Low amount text" %}
            </div>
            
            <div class="donation-outcome medium-amount">
                {% trans "(SLD2) Medium amount text" %}
            </div>
            
            <div class="donation-outcome high-amount">
                {% trans "(SLD3) High amount text" %}
            </div>
            
            
            
          
        </div>
    </div>
</div>
