

<div class="slider-container">
    <div class="slider-row">
        <div class="slider-col text-center payment-slider">
                
            <div class="">
            	<div class="value-frame">
            		<div class="side-amount">
            			{{ SETTINGS.PAYMENTS_MINIMUM_PAYMENT_AMOUNT|floatformat }} €
        			</div>
            		<div class="amount-container">
	            		<div class="amount-frame">
	                		<input id="value" type="number" name="{{ field_name }}" 
	                		min="{{ SETTINGS.PAYMENTS_MINIMUM_PAYMENT_AMOUNT|floatformat }}" max="{{ SETTINGS.PAYMENTS_MAXIMUM_PAYMENT_AMOUNT|floatformat }}"
	                		pattern="^[0–9]$"></input>€
	                	</div>
	                </div>
                	<div class="side-amount">
                		{{ SETTINGS.PAYMENTS_MAXIMUM_PAYMENT_AMOUNT|floatformat }} €
                	</div>
                </div>
                <div id="slider">
                	<div class="background"></div>
                </div>
            </div>
            
            
            <div class="donation-outcome under-10">
                The donation is under or equal to 10
            </div>
            
            <div class="donation-outcome over-10">
                The donation is over 10
            </div>
            
            
          
        </div>
    </div>
</div>
