{% load i18n cosinnus_tags %}{% captureas amount %}{% if payment_amount %}{{ payment_amount|floatformat:2 }}{% else %}{{ payment.amount|floatformat:2 }}{% endif %}{% endcaptureas %}{% blocktrans with sepa_mandate=payment.extra_data.sepa_mandate_token payment_recipient_name=SETTINGS.PAYMENTS_PAYMENT_RECIPIENT_NAME sepa_creditor=SETTINGS.PAYMENTS_SEPA_CREDITOR_ID payment_day=payment.subscription.next_due_date.day iban=payment.extra_data.iban account_holder=payment.extra_data.account_holder %}
The SEPA payment will be debited from your account within the next few days. 

We will debit your subsequent monthly payments on the {{ payment_day }}. of each month. If the due date falls on a weekend or a holiday, the debit date will be postponed to the next working day. Please make sure you have sufficient funds to avoid return debit fees.

Details of your SEPA Direct Debit Mandate at a glance:

Amount: {{ amount }} EUR
SEPA-Mandate-Reference: {{ sepa_mandate }}
Creditor-ID: {{ sepa_creditor }}

Your Account: 
Account Holder: {{ account_holder }}
IBAN: {{ iban }}
 
{% endblocktrans %}